---
Checks:          '-*,clang-analyzer-core.*,clang-diagnostic-*'
WarningsAsErrors: 'clang-analyzer-unix.*,clang-analyzer-core.NullDereference,-clang-diagnostic-implicit-fallthrough'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...
