*~
**/CMakeFiles/
**/CMakeCache.txt
/sql/tests/unit/testoutputs.tmp
/sql/timescaledb--*.sql
/data/
/src/*.o
/src/*.so
/src/*.d
/.vscode/
/timescaledb.so
*.bak
typedef.list
/test/testcluster
/test/log
/test/temp_schedule
/build
**/GPATH
**/GTAGS
**/GRTAGS
**/GSYMS
/.vs
/compile_commands.json
/.DS_Store
