*~
**/CMakeFiles/
**/CMakeCache.txt
/sql/tests/unit/testoutputs.tmp
/sql/timescaledb--*.sql
/data/
/src/*.o
/src/*.so
/src/*.d
/.vscode/
/timescaledb.so
*.bak
typedef.list
/test/testcluster
/test/log
/build
**/GPATH
**/GTAGS
**/GRTAGS
**/GSYMS
/.vs
/test/sql/agg_bookends_optimized-*.sql
/test/sql/alternate_users-*.sql
/test/sql/append-*.sql
/test/sql/parallel-*.sql
/test/sql/partitioning-*.sql
/test/sql/plan_expand_hypertable-*.sql
/test/sql/plan_hashagg-*.sql
/test/sql/plan_ordered_append-*.sql
/compile_commands.json
/.DS_Store
