/*.pgbinary
/bgw_custom-*.sql
/cagg_bgw-*.sql
/cagg_ddl-*.sql
/cagg_errors_deprecated-*.sql
/cagg_invalidation_dist_ht-*.sql
/cagg_permissions-*.sql
/cagg_query-*.sql
/cagg_repair-*.sql
/cagg_union_view-*.sql
/cagg_usage-*.sql
/compression_bgw-*.sql
/compression_errors-*.sql
/compression_sorted_merge-*.sql
/compression_permissions-*.sql
/continuous_aggs-*.sql
/continuous_aggs_deprecated-*.sql
/deparse-*.sql
/dist_grant-*.sql
/dist_query-*.sql
/dist_hypertable-*.sql
/dist_partial_agg-*.sql
/dist_ref_table_join-*.sql
/dist_ref_table_join-*.sql
/dist_remote_error-*.sql
/dist_remote_error.text
/hypertable_distributed-*.sql
/jit-*.sql
/modify_exclusion-*.sql
/plan_skip_scan-*.sql
/remote-copy-*sv
/transparent_decompression-*.sql
/transparent_decompression_ordered_index-*.sql
/telemetry_stats-*.sql
/merge_append_partially_compressed-*.sql
