/*.pgbinary
/cagg_ddl-*.sql
/cagg_invalidation_dist_ht-*.sql
/cagg_permissions-*.sql
/cagg_query-*.sql
/cagg_union_view-*.sql
/compression_insert-*.sql
/compression_permissions-*.sql
/continuous_aggs-*.sql
/dist_grant-*.sql
/dist_query-*.sql
/dist_hypertable-*.sql
/dist_partial_agg-*.sql
/hypertable_distributed-*.sql
/jit-*.sql
/modify_exclusion-*.sql
/plan_skip_scan-*.sql
/remote-copy-*sv
/remote_copy-*.sql
/transparent_decompression-*.sql
/transparent_decompression_ordered_index-*.sql
