/*.pgbinary
/cagg_ddl-*.sql
/cagg_invalidation_dist_ht-*.sql
/cagg_permissions-*.sql
/cagg_query-*.sql
/cagg_union_view-*.sql
/compression_sorted_merge-*.sql
/compression_permissions-*.sql
/continuous_aggs-*.sql
/continuous_aggs_deprecated-*.sql
/dist_grant-*.sql
/dist_query-*.sql
/dist_hypertable-*.sql
/dist_partial_agg-*.sql
/dist_ref_table_join-*.sql
/dist_ref_table_join-*.sql
/dist_remote_error-*.sql
/dist_remote_error.text
/hypertable_distributed-*.sql
/include/skip_scan_query-*.sql
/jit-*.sql
/modify_exclusion-*.sql
/plan_skip_scan-*.sql
/skip_scan-*.sql
/remote-copy-*sv
/telemetry_stats-*.sql
/transparent_decompression-*.sql
/transparent_decompression_ordered_index-*.sql
/merge_append_partially_compressed-*.sql
