\set ON_ERROR_STOP 1
{% set databases = ['Test1', 'test2'] %}
{% import 'admin.sql.j2' as admin %}

{{admin.create_database('meta')}}
{% for db in databases -%}
{{admin.create_database(db)}}
{%- endfor %}

{{admin.load_scripts('meta')}}
{{admin.load_scripts('meta')}}
{{admin.load_scripts_meta()}}
{{admin.load_scripts_meta()}}
{% for db in databases -%}
{{admin.load_scripts(db)}}
{{admin.load_scripts(db)}}
{{admin.load_scripts_main(db)}}
{{admin.load_scripts_main(db)}}
{%- endfor %}


