\set ON_ERROR_STOP 1
{% set databases = ['Test1', 'test2'] %}
{% import 'admin.sql.j2' as admin %}

{{admin.create_database('meta')}}
{% for db in databases -%}
{{admin.create_database(db)}}
{%- endfor %}

{{admin.load_scripts('meta')}}
{{admin.load_scripts_meta()}}
{% for db in databases -%}
{{admin.load_scripts(db)}}
{{admin.load_scripts_main(db)}}
{%- endfor %}

{% for db in databases -%}
{{admin.init_fdw(db, databases)}}
{%- endfor %}

\set ECHO ALL
\c meta
{% for db in databases -%}
SELECT add_node('{{ db }}' :: NAME, '{{ db }}' :: NAME);
{%- endfor %}

SELECT add_namespace('testNs' :: NAME);
SELECT add_field('testNs' :: NAME, 'device_id', 'text', TRUE, TRUE, ARRAY['VALUE-TIME'] :: field_index_type []);
SELECT add_field('testNs' :: NAME, 'series_0', 'double precision', FALSE, FALSE, ARRAY['TIME-VALUE'] :: field_index_type []);
SELECT add_field('testNs' :: NAME, 'series_1', 'double precision', FALSE, FALSE, ARRAY['TIME-VALUE'] :: field_index_type []);
SELECT add_field('testNs' :: NAME, 'series_2', 'double precision', FALSE, FALSE, ARRAY['TIME-VALUE'] :: field_index_type []);
SELECT add_field('testNs' :: NAME, 'series_bool', 'boolean', FALSE, FALSE, ARRAY['TIME-VALUE'] :: field_index_type []);

\c Test1
BEGIN;
SELECT * FROM create_temp_copy_table_one_partition('copy_t',4::SMALLINT,10::SMALLINT);
\COPY copy_t FROM 'data/1.tsv';
SELECT * FROM insert_data_one_partition('copy_t',4::SMALLINT,10::SMALLINT);
COMMIT;

