/continuous_aggs_compression-*.sql
/constify_now-*.sql
/decompress_join-*.sql
/dist_distinct-*.sql
/dist_fetcher_type-*.sql
/dist_remote_error-*.sql
/dist_remote_error.text
/gapfill-*.sql
/generated_columns-*.sql
/ordered_append-*.sql
/ordered_append_join-*.sql
/remote-copy-escapes.*sv
/space_constraint-*.sql
/transparent_decompress_chunk-*.sql
