/agg_bookends-*.sql
/alternate_users-*.sql
/append-*.sql
/cluster-*.sql
/constraint-*.sql
/copy-*.sql
/ddl-*.sql
/delete-*.sql
/insert-*.sql
/insert_many-*.sql
/partitioning-*.sql
/partitionwise-*.sql
/plan_expand_hypertable-*.sql
/plan_hashagg_optimized-*.sql
/plan_hypertable_cache-*.sql
/plan_hypertable_inline-*.sql
/plan_ordered_append-*.sql
/rowsecurity-*.sql
/update-*.sql
