/alternate_users-*.sql
/append-*.sql
/cluster-*.sql
/cursor-*.sql
/ddl-*.sql
/delete-*.sql
/insert_many-*.sql
/parallel-*.sql
/partitioning-*.sql
/plan_hashagg-*.sql
/plan_hashagg_optimized-*.sql
/plan_hypertable_cache-*.sql
/plan_ordered_append-*.sql
/query-*.sql
/rowsecurity-*.sql
/update-*.sql
/loader-*.sql
