# Ignoring version of the corresponding workflow. These files are
# needed to run required workflows even when the real workflow is not
# executed because some files were ignored.
name: Regression Linux i386
"on":
  push:
    branches:
      - main
    paths:
      - '!**'
      - '**.md'
      - 'LICENSE*'
      - NOTICE
  pull_request:
    paths:
      - '!**'
      - '**.md'
      - 'LICENSE*'
      - NOTICE
jobs:
  config:
    runs-on: ubuntu-latest
    outputs:
      pg_latest: ${{ steps.setter.outputs.PG_LATEST }}
      pg16_latest: ${{ steps.setter.outputs.PG16_LATEST }}
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Read configuration
      id: setter
      run: python .github/gh_config_reader.py

  regress_linux_32bit:
    name: PG${{ matrix.pg }} ${{ matrix.build_type }} linux-i386
    runs-on: ubuntu-latest
    needs: config
    strategy:
      matrix:
        pg: ${{ fromJson(needs.config.outputs.pg_latest) }}
        build_type: [ Debug ]
        include:
          - pg: ${{ fromJson(needs.config.outputs.pg16_latest) }}
            build_type: Debug
    steps:
      - run: |
          echo "No build required"
