# All PRs except trivial ones should require 2 approvals, since this a global setting
# we cannot make this decision from github configuration alone. So we set the required
# approved in github to 1 and make this check required which will enforce 2 approvals
# unless overwritten or only CI files are touched.
name: PR Approval Check
"on":
  pull_request:
    types: [opened, synchronize, reopened, edited, auto_merge_enabled, auto_merge_disabled]
    branches: [main]
  pull_request_review:

jobs:
  check_approvals:
    name: Check for sufficient approvals
    runs-on: timescaledb-runner-arm64
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Check for sufficient approvals
        shell: bash
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_BODY: ${{ github.event.pull_request.body }}
          GH_TOKEN: ${{ github.token }}
        run: |
          set -eu
          echo "PR number is $PR_NUMBER"
          if ! echo "$PR_BODY" | egrep -qsi '^disable-check:.*\<approval-count\>'
          then
            # Get the list of modified files in this pull request
            echo "Modified files: "
            gh pr view $PR_NUMBER --json files
            # Get the number of modified files, but exclude those that
            # are workflow files. These require only a single
            # reviewer.
            files=$(gh pr view $PR_NUMBER --json files --jq '[.files.[].path | select(startswith(".github") | not)] | length')

            # Get the number of approvals in this pull request. Only count the
            # approvals by the timescale/database-eng team members.
            echo "Reviews: "
            gh pr view $PR_NUMBER --json latestReviews
            echo "Team Members: "
            gh api /orgs/timescale/teams/database-eng/members --paginate
            approvals=$(jq -n \
                --slurpfile team_api <(gh api /orgs/timescale/teams/database-eng/members --paginate) \
                --slurpfile reviews_api <(gh pr view $PR_NUMBER --json latestReviews) \
                ' ($team_api | add | map(.login) ) as $owners
                  | ($reviews_api | add | [ .latestReviews[]?
                    | select(.authorAssociation == "MEMBER" and .state == "APPROVED")
                    | .author.login ] ) as $approving
                  | ($approving - ($approving - $owners))
                  | length')

            echo "approvals: $approvals, files: $files"
            if [[ $approvals -lt 2 && $files -gt 0 ]] ; then
              echo "This pull request requires 2 approvals before merging."
              echo
              echo "For trivial changes, you may disable this check by adding this trailer to the pull request message:"
              echo
              echo "Disable-check: approval-count"
              echo
              exit 1
            fi
          fi

