# All PRs except trivial ones should require two approvals. In GitHub branch
# protection rules, there's no way to require different number of reviews based
# on conditions. Therefore, we only require one approval in the branch
# protection settings, and this workflow decides whether more reviews are
# necessary. At the moment, it requires two approval unless only the GitHub
# configuration (e.g. the CI workflows) is changed.
name: PR Approval Check
"on":
  pull_request:
    types: [opened, synchronize, reopened, edited, auto_merge_enabled, auto_merge_disabled]
    branches: [main]
  pull_request_review:

jobs:
  check_approvals:
    name: Check for sufficient approvals
    runs-on: timescaledb-runner-arm64
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Check for sufficient approvals
        shell: bash
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.ORG_AUTOMATION_TOKEN }}
        run: |
          set -eu
          echo "PR number is $PR_NUMBER"
          BODY=$(gh pr view $PR_NUMBER -q .body --json body)
          if ! echo "$BODY" | egrep -qsi '^disable-check:.*\<approval-count\>'
          then
            # Get the list of modified files in this pull request
            echo "Modified files: "
            gh pr view $PR_NUMBER --json files | tee files.json
            # Get the number of modified files, but exclude those that
            # are workflow files. These require only a single
            # reviewer.
            files=$(jq '[.files[].path | select(startswith(".github") | not)] | length' files.json)

            # Get the number of approvals in this pull request. Only count the
            # approvals by the timescale/database-eng team members.
            gh pr view $PR_NUMBER --json latestReviews > reviews_api.json
            gh api /orgs/timescale/teams/database-eng/members --paginate > team_api.json
            approvals=$(jq -n --slurpfile team_api team_api.json --slurpfile reviews_api reviews_api.json '
                  ($team_api | add | map(.login) ) as $owners
                  | ($reviews_api | add | [ .latestReviews[]?
                    | select(.authorAssociation == "MEMBER" and .state == "APPROVED")
                    | .author.login ] ) as $approving
                  | ($approving - ($approving - $owners))
                  | length')

            echo "approvals: $approvals, files: $files"
            if [[ $approvals -lt 2 && $files -gt 0 ]] ; then
              echo "This pull request requires 2 approvals before merging."
              echo
              echo "For trivial changes, you may disable this check by adding this trailer to the pull request message:"
              echo
              echo "Disable-check: approval-count"
              echo
              exit 1
            fi
          fi

