# Ignoring version of the corresponding workflow. These files are
# needed to run required workflows even when the real workflow is not
# executed because some files were ignored.
name: Regression Windows
"on":
  push:
    branches:
      - main
    paths:
      - '!**'
      - '**.md'
      - CHANGELOG
      - 'LICENSE*'
      - NOTICE
      - 'bootstrap*'
  pull_request:
    paths:
      - '!**'
      - '**.md'
      - CHANGELOG
      - 'LICENSE*'
      - NOTICE
      - 'bootstrap*'
jobs:
  config:
    runs-on: ubuntu-latest
    outputs:
      build_type: ${{ steps.build_type.outputs.build_type }}

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Set build_type
      id: build_type
      run: |
        if [[ "${{ github.event_name }}" == "pull_request" ]]; then
          echo "build_type=['Debug']" >>$GITHUB_OUTPUT
        else
          echo "build_type=['Debug','Release']" >>$GITHUB_OUTPUT
        fi
  build:
    name: PG${{ matrix.pg }} ${{ matrix.build_type }} ${{ matrix.os }}
    runs-on: ubuntu-latest
    needs: config
    strategy:
      fail-fast: false
      matrix:
        pg: [ 13, 14, 15, 16 ]
        os: [ windows-2022 ]
        build_type: ${{ fromJson(needs.config.outputs.build_type) }}
    steps:
      - run: |
          echo "No build required"
